.window{
	background: #fff; 
	border:1px solid #aaa; 
}

#wrapper {
    height: 500px;
   	border:1px solid #aaa; 
    margin: 0;
	-webkit-user-select:none;
	-khtml-user-select:	none;
	-moz-user-select:	none;
	user-select: 		none;
}

.hd_ex_ow {
	position:	absolute;
	top:		100px;
	background:	#fff;
    /*border:     1px dotted #ccc;*/
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    -webkit-box-shadow: #666 0px 2px 5px;
    -moz-box-shadow: #666 0px 2px 5px;
    box-shadow: #666 0px 2px 5px;
    z-index:    0;
}



/* bar */
.hd_ex_titleBar {
    position:       absolute;
    top:            -30px;
	height: 	    30px;
    width:          100%;
	background:     #FEFEFE;
    -webkit-box-shadow: #666 0px 2px 5px;
    -moz-box-shadow: #666 0px 2px 5px;
    box-shadow: #666 0px 2px 5px;
    	/*border:     	1px dotted #DDD;*/
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    z-index:        2;
}

    .hd_ex_titleBar_selected {
        background: #eaffea;
    }

    .hd_ex_titleBar_unselect {
        background: #fff;
    }

    .hd_ex_titleSpace {
        position:	absolute;
        width:		450px;
        margin:		6px 0 0 15px;
        font-size:	12px;
    }

    .hd_ex_removeBtn {
        position:	absolute;
        width:		12px;
        height:		12px;
        top:		9px;
        right:		10px;
        background: url("removewnd.png");
    }

.hd_ex_iw {
    position:   relative;
    height:		100%;
    width:		100%;
	overflow:	auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow:   -moz-scrollbars-vertical;
}

.hd_ex_ct {
	overflow:	auto;
}

#hd_ex_cursor {
    position:	absolute;
    margin-top:		-40px;
    margin-left:	-65px;
    width:		58px;
    height:		38px;
    z-index:	99;
}

#hd_ex_cursor_text {
	color:			#ccc;
	font-weight:	bolder;
	padding:		8px 0 0 25px;
	-webkit-user-select:none;
	-khtml-user-select:	none;
	-moz-user-select:	none;
	user-select: 		none;	
}

.cursor_copy {
    background: url("cursor.png") 0 0 ;
}

.cursor_move {
    background: url("cursor.png") 0 -38px ;
}

.hd_ex_slctBox {
	position:	absolute;
	border:		1px solid #e60;
    z-index:	990;
    background:	#fff0e0;
    -webkit-opacity:	0.2;
    -moz-opacity:	0.2;
	opacity:	0.2;
	z-index:	99;
}

.ex_preselect {
	border:		5px solid #ffe9c9	!important;
    border-radius: 15px;
	margin:		13px -2px -2px 13px	!important;
}

.ex_selected {
	border:		5px solid #ffd9b9	!important;
    border-radius: 15px;
	margin:		13px -2px -2px 13px	!important;
}

.hd_ex_resize {
	position:	absolute;
	/*border:		1px solid #ffd9b9;*/
}


::-webkit-scrollbar {
	width: 10px;
	height: 0px;
}

::-moz-scrollbars {
	width: 10px;
	height: 0px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #aaa;
	-webkit-border-radius: 6px;
}

::-moz-scrollbars-thumb:vertical {
	height: 50px;
	background-color: #aaa;
	-moz-border-radius: 6px;
}

.block {
	float: 			left;
	width:			64px;
	height:			64px;
	margin:			15px 0 0 15px;
	border:			#eee solid;
    border-radius:	15px;
	-webkit-user-select:	none;
	-khtml-user-select:	none;
	-moz-user-select:	none;
	user-select: none;
}

.block p {
	margin:			5px;
	
    font-weight:	bold;
	color:			#fff;
}
