.window{
    background: #fff; 
    border:1px solid #aaa; 
}

#wrapper {
    position:   relative;
    height: 800px;
    border: 1px solid #ccc;
    margin: 50px;
    -webkit-user-select:none;
    -khtml-user-select:    none;
    -moz-user-select:    none;
    user-select:         none;
}

.hdex_ow {
    position:   absolute;
    top:        10px;
    background: #fff;
    /*border:     1px dotted #ccc;*/
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    -webkit-box-shadow: #666 0px 2px 5px;
    -moz-box-shadow: #666 0px 2px 5px;
    box-shadow: #666 0px 2px 5px;
    z-index:    0;
}

/* bar */
.hdex_titleBar {
    position:       absolute;
    top:            -30px;
    height:         30px;
    width:          100%;
    background:     #FEFEFE;
    -webkit-box-shadow: #666 0px 2px 5px;
    -moz-box-shadow: #666 0px 2px 5px;
    box-shadow: #666 0px 2px 5px;
        /*border:         1px dotted #DDD;*/
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    z-index:        2;
}

    .hdex_titleBar .selected {
        background: #eaffea;
    }

    .hdex_titleBar .unselect {
        background: #fff;
    }

    .hdex_titleSpc {
        position:    absolute;
        margin:        6px 0 0 15px;
        font-size:    12px;
    }

    .hdex_removeBtn {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 6px;
        right: 7px;
        background: url("removewnd.png");
        background-position: center;
        background-repeat: no-repeat;
    }

.hdex_iw {
    position:   relative;
    height:        100%;
    width:        100%;
    overflow:    auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow:   -moz-scrollbars-vertical;
}

.hdex_ct {
    overflow:    auto;
}

#hdex_cursor {
    position:    absolute;
    margin-top:        -40px;
    margin-left:    -65px;
    width:        58px;
    height:        38px;
    z-index:    99;
}

#hdex_cursor_text {
    color:            #ccc;
    font-weight:    bolder;
    padding:        8px 0 0 25px;
    -webkit-user-select:none;
    -khtml-user-select:    none;
    -moz-user-select:    none;
    user-select:         none;    
}

.cursor_copy {
    background: url("./cursor.png") 0 0 ;
    opacity:    0.8;
}

.cursor_move {
    background: url("./cursor.png") 0 -38px ;
    opacity:    0.8;
}

.hdex_slctBox {
    position:   absolute;
    border:     1px solid #e60;
    z-index:    990;
    background: #fff0e0;
    -webkit-opacity:0.2;
    -moz-opacity:   0.2;
    opacity:        0.2;
    z-index:    99;
}

.ex_preselect {
    border:        5px solid #ffe9c9    !important;
    border-radius: 15px;
    margin:        13px -2px -2px 13px    !important;
}

.ex_selected {
    border:        5px solid #ffd9b9    !important;
    border-radius: 15px;
    margin:        13px -2px -2px 13px    !important;
}

.hdex_resize {
    position:   absolute;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-moz-scrollbars {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #aaa;
    -webkit-border-radius: 6px;
}

::-moz-scrollbars-thumb:vertical {
    height: 50px;
    background-color: #aaa;
    -moz-border-radius: 6px;
}

.hdex_elem {
    float:             left;
    width:            64px;
    height:            64px;
    margin:            15px 0 0 15px;
    border:            #eee solid;
    border-radius:    15px;
    -webkit-user-select:    none;
    -khtml-user-select:    none;
    -moz-user-select:    none;
    user-select: none;
}

.hdex_elem p {
    margin:         5px;
    font-weight:    bold;
    color:          #fff;
}
